nav {
    height: 72px;
    background-color: #141414;
}

.header {
    background-color: white;
    margin-top: 1%; 
}

/*Подвал смерти*/
footer {
    background-color: black;
}

.footer-info {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16pt;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 30%;
    margin: 0 auto;
}

.flooter-text {
    padding-bottom: 2.1%;
    padding-top: 2.3%;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.6);
    width: 89%;
    display:grid;
    grid-template-columns: 1fr max-content;
}

.flooter-text-year {
    justify-content: start;
    align-items: start;
}

.flooter-text-company {
    justify-self: flex-end;
    align-items: flex-end;
}

.flooter-text-company-name {
    font-size: 15px;
}

#telegramm {
    width: 50%;
    height: 50%;
    fill: white;
}

#telegramm:hover {
    fill: red;
}

/*Третий экран*/
.feedback {
    margin-top: 20%;
    background-color: black;
    color: rgba(255, 255, 255, 0.6);
    font-size: 15px;
}

.email-div {
    width: 50%;
}

#submit {
    margin-top: 3%;
}

.title-main {
    padding: 0.5%;
}

.tite-text {

}

.title-image {
    width: 24px;
    height: 24px;
    color: rgba(31, 31, 31, .95);
    margin-left: 10px;
    text-decoration: none;
}

#vk {
    margin-left: 0px;
}

.logo-image {
    background-color: black;
    color: rgba(255, 255, 255, 0.6);
    font-size: 15px;
    padding: 2.5% 3% 20px;
    border: 1px solid black;
    border-top-color: rgba(192, 192, 192, 0.1);
}

/*Plyr video*/
.plyr-video {
    margin: 50px auto;
    max-width: 500px;
}

/*Топ ган */

.top-gun-img {
    width: 300px;
    margin-top: 1%;
}

.flap_img {
    width: 150px;
    margin-top: 7%;
}

.top-gun-text {
    display: block;
}

.top-gun-text-name {
    margin-bottom: 1%;
    font-weight: 900;
    font-size:xx-large;
    margin: 0px 0px 16px;
    font-size: 40px;
}

.top-gun-text-grey {
    color: rgba(255, 255, 255, 0.6);
}

.top-gun-first {
    width: 160px;
}

.top-gun-text-eng {
    font-size: 22px;
    line-height: 28px;
}

.top-gun-film-text {
    padding: 8px 0px;
    display: flex;
}

.top-gun-the-film {
    margin-bottom: 9px;
    font-size: 22px;
    line-height: 28px;
}

.top-gun-header {
    margin-bottom: 48px;
}

