footer {
    background-color: black;
}

.footer-info {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16pt;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 30%;
    margin: 0 auto;
}

.flooter-text {
    padding-bottom: 2.1%;
    padding-top: 2.3%;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.6);
    width: 89%;
    display:grid;
    grid-template-columns: 1fr max-content;
}

.flooter-text-year {
    justify-content: start;
    align-items: start;
}

.flooter-text-company {
    justify-self: flex-end;
    align-items: flex-end;
}

.flooter-text-company-name {
    font-size: 15px;
}

.feedback {
    margin-top: 16%;
    background-color: black;
    color: rgba(255, 255, 255, 0.6);
    font-size: 15px;
}

.email-div {
    width: 50%;
}

.title-main {
    padding: 0.5%;
}

.title-image {
    width: 24px;
    height: 24px;
    color: rgba(31, 31, 31, .95);
    margin-left: 10px;
    text-decoration: none;
}

.logo-image {
    background-color: black;
    color: rgba(255, 255, 255, 0.6);
    font-size: 15px;
    padding: 2.5% 3% 20px;
    border: 1px solid black;
    border-top-color: rgba(192, 192, 192, 0.1);
}

#vk {
    margin-left: 0px;
}

#submit {
    margin-top: 3%;
}

#telegramm {
    width: 50%;
    height: 50%;
    fill: white;
}

#telegramm:hover {
    fill: red;
}